<template>

    <div class="container">
        <h1>In this route is the counter in which the button with the plus sign increases the counter and the button with the minus sign decreases the counter.</h1>
        <ButtonCounter></ButtonCounter>
    </div>

</template>

<script>
    import ButtonCounter from '@/components/buttonCounter'
    export default {
        name: "counter",
        components: {
            ButtonCounter
        }
    }
</script>