<template>
    <div class="row">
        <div class="col-12">
            <button class="text-center" @click="addCounter"><span>+</span></button>
            <button @click="discountCounter"><span>-</span></button>
        </div>
        <div class="col-12">
            <h1 style="color: black">{{this.getCounter}}</h1>
        </div>


    </div>

</template>

<script>
    import {mapActions,mapGetters} from 'vuex'
    export default {
        name: "buttonCounter",
        methods: {
            ...mapActions(['addCounter','discountCounter'])
        },
        computed: {
            ...mapGetters(['getCounter'])
        }
    }
</script>

<style scoped>
    button{
        width: 200px;
        height: 40px;
        line-height: 40px;
        font-size: 18px;
        color: #333;
        border: 2px solid #333;
        letter-spacing: 2px;
        text-align: center;
        position: relative;
        transition: all .35s;
    }

    button span{
        position: relative;
        z-index: 2;
    }

    button:after{
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        background: #ff003b;
        transition: all .35s;
    }

    button:hover{
        color: #fff;
    }

    button:hover:after{
        width: 100%;
    }

</style>