<template>
  <div class="hello">
    <h1>{{ msg }}</h1>
    <h1>Juan Pablo Morales Rodriguez</h1>
    <p>This project has the following tools only to simulate the flow of a real application:</p>
    <ul>
      <li>
        <span><a href="https://vuex.vuejs.org/">VUEX</a></span>
      </li>
      <li>
        <span><a href="https://cli.vuejs.org/">VUE-CLI</a></span>
      </li>
      <li>
        <span><a href="https://router.vuejs.org/">VUE-ROUETER</a></span>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: 'HelloWorld',
  props: {
    msg: String
  }
}
</script>
<style>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
